<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Cipher Smasher - {% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">&lt;!&ndash; Custom styles to override tailwind.css &ndash;&gt;-->

</head>
<!--Navigation bar and title -->
<body class="bg-gray-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Cipher Smasher</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Decrypt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/encrypter">Encrypt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="content container mx-auto p-4">
{% block content %}{% endblock %}
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</body>
</html>